@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  display: flex;
  justify-content: center;
}

#comment {
  width: 50%;
}

body {
  @apply bg-veryLightGray mt-16;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
